.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
    margin: 2rem auto;
    max-width: 80rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}