.card{
    width: 20rem;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 1rem rgba(240, 241, 243, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 1rem;
    background-color: #0f0347;

    &:hover {
        transform: translateY(-0.5rem);
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    .title {
        font-weight: 600;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .price {
        display: flex;
        justify-content: center;
        margin: 2rem 0;        

        label {
            color: white;
            font-weight: 600;
            padding: 1rem;
            background-color: #060131;
            border-radius: 0.5rem;
            border-color: #3743ee;
            border-style: dashed;
        }
    }

    .addCartBtn {
        display: flex;
        justify-content: center;
        margin: 2rem 0;

        button {
            padding: 1rem 2rem;
            border: none;
            background-color: #060131;
            color: white;
            font-weight: 600;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #3743ee;
            }
        }
    }
}