.navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;

    nav {
      ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }

.menuToggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .navigation {
        flex-direction: column;
        position: absolute; /* to show the menu on top of the content */
        left: 0;
        width: 100%;
        background-color: #383838;
        padding: 1rem;
        border-bottom: 1px solid #fff;
        border-radius: 0 0 1rem 1rem;
        transform: translateY(-1rem);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s; /* add smooth transition */
    }

    .navigation.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .menu ul {
        flex-direction: column;
        gap: 1rem;
    }

    .menuToggle {
      display: flex;
      padding-top: 2rem;
      justify-content: space-between;
      width: 100%;
      padding-right: 1rem;

      .cartMobile {
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          top: -1rem;
          right: -1rem;
          background-color: rgb(3, 4, 82);
          color: white;
          border-radius: 50%;
          padding: 0.2rem 0.5rem;
          font-size: 0.8rem;
        }
      }
    }    
}